<h1>{{ title }}</h1>
<img src="{{ urlImage }}" alt="Logo Angular" width="200" height="200">

<p *ngIf="name">Mi nombre es: {{ name }}</p>
<input type="text" [(ngModel)]="name">

<app-button></app-button>

<ul *ngFor="let city of cities">
    <!-- se pasa las clase por string -->
    <!-- <li [ngClass]="'selected green'">{{ city }}</li> -->
    <!-- por un array -->
    <!-- <li [ngClass]="['selected', 'green']">{{ city }}</li> -->
    <!-- por objeto -->
    <li [ngClass]="{'selected': city === 'San Luis', 'green': city !== 'San Luis'}">{{ city }}</li>

</ul>
<!-- styles inline -->
<li [ngStyle]="{'color': 'blue'}">Otra</li>